@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
}

:root {
  --background: white;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: 1.6;
}
